{% extends 'home/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Subcategoty
{% endblock %}

{% block body_block %}
    <head>
        <title>Subcategory</title>
    </head>

    <body>
    <body>
    <h1>{{ subcategory.name }}</h1>
	{% if user.is_authenticated %}
    <p> </p>
        {% if profile.isGiver %}
            <a href="/home/{{ category.slug }}/{{ subcategory.slug }}/add a pet /"><button type="button" class="btn btn-primary">Add a pet</button></a>
        {% endif %}
    {% endif %}
    {% if pets %}
    <ul>
        {% for pet in pets %}
        <li><a href="/home/{{ category.slug }}/{{ subcategory.slug }}/{{pet.slug}}">{{ pet.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No pets currently in this subcategory.</strong>
    {% endif %}
    </body>
{% endblock %}